body{
    background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container {
    display: flex;
    justify-content: center;
    /*Centerhorizontally*/align-items: center;
    /*Centervertically*/padding-top: 70px; 
}
.card {
    width: 500px;
    /*Examplewidth*/height: 500px;
    /*Exampleheight*//*Addyourstyling*/margin: 20px;
    background-color: #ffffff;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}